.container{
    width: 98%;
    margin: auto;
}
image{
    width: 500px;
    height: 500px;
}
@media screen and (min-width:768px) {
    .container{
        width: 70%;
    }
}

.detail {
margin-top: 3rem;
margin-bottom: 3rem;
width: 60%;
display: flex;
flex-wrap: nowrap;
margin-left: 200px;
margin-top: 100px;
text-align: center;
}

.detail__image {
    width: 100%;

}
.content {
    width: 100%;
}
@media screen and (min-width:768px){
    .detail__image{
        width: 100%;
    }
    .content{
        padding-left: 3rem;
        width: 50%;
        
    }
    
}